
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/detect.js"></script>
        <script src="/assets/js/fastclick.js"></script>
        <script src="/assets/js/jquery.blockUI.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/jquery.nicescroll.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="/assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
		<script src="/assets/plugins/morris/morris.min.js"></script>
		<script src="/assets/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <script src="/assets/pages/jquery.dashboard.js"></script>
        <!-- Plugin -->
        <script src="/assets/plugins/switchery/switchery.min.js"></script>
        
        <!-- App js -->
        <script src="/assets/js/jquery.core.js"></script>
        <script src="/assets/js/jquery.app.js"></script>
        
        <!-- CUSTOM ADD -->
        <script src="/javascripts/socket.io.js"></script>
        <script src="/javascripts/moment.js"></script>
        <script src="/javascripts/moment-timer.js"></script>
        <script src="/javascripts/basic_tm.js"></script>

        <!-- FLATPICKER -->
        <script src="/assets/js/flatpickr"></script>

        <!-- Toastr js -->
        <script src="assets/plugins/toastr/toastr.min.js"></script>
        
        <!-- end chat -->
        <script>
            var user_id = '<%= user_id %>';
            var user_fullname = '<%= user_fullname %>';
        </script>
        
    </body>
</html>



